body{
    font-family: 'Alef-regular','Assistant','calibri';
    background-color: rgb(236, 239, 241)
}


#light{
  padding:2% 100px 5px 0px;
    }
*{
    color: black
}
nav{
 background-color: white;
height: 2%;
width: 100%;
display: inline-block;
vertical-align: middle;

}
nav>a{
    padding: 0.5% 0.5% 0 0 ;
    display: inline-block;
    padding: 0px 10px 5px 0;
    font-size: 10px;
    text-decoration: none;
}
nav>a:hover{
    background-color: rgb(138, 46, 46);
    height: 70px;
    width: 50px;
border-bottom: 2px solid rgb(74, 150, 143);
}
#toCode{
    padding:5px 190px 0px 0px;
}
nav>button{
    background-color: rgb(14, 150, 150);
    border-radius: 2px;
    border: 0px;
    color: white;
width: 50px; 
height: 26px;
margin: 0% 10px 5px 5px;
    
}
h3{
    padding: 5px 150px 0 0;
}
#p1{
    font-family: 'Calibri';
    font-size: 15px;
    padding: 5px 150px 0 0;
}

#light,b,nav>img{
    display: inline-block;
    vertical-align: bottom
}

h5{
    padding: 5px 5px 0px 0;
}

span{
    padding: 67px;
}
div{
    display: inline-block;
    vertical-align: bottom;
      background-color:white;
    width: 230px;
    height: 120px;
    margin: 5px 10px 5px 5px; 
    border-radius: 10px;
    font-size: 90%;
    padding: 10px;
}
